@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --primary: 271 84% 74%;
    --primary-foreground: 0 0% 100%;

    --secondary: 271 31% 54%;
    --secondary-foreground: 0 0% 100%;

    --muted: 220 2% 56%;
    --muted-foreground: 0 0% 45%;

    --accent: 271 84% 74%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 2% 56%;
    --input: 220 2% 56%;
    --ring: 271 84% 74%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 271 84% 74%;
    --primary-foreground: 0 0% 100%;

    --secondary: 271 31% 54%;
    --secondary-foreground: 0 0% 98%;

    --muted: 220 2% 56%;
    --muted-foreground: 220 2% 56%;

    --accent: 271 84% 74%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 2% 56%;
    --input: 220 2% 56%;
    --ring: 271 84% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}